.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    transform: rotate(30deg);
  }

 
 .hilt-device{
  position: absolute;
  right: 90%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  border-radius: 21px;
 }